{
    "presets": [
      [
        "next/babel",
        {
          "preset-env": {
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "not dead",
                "iOS >= 8",
                "Android > 4.0"
              ]
            }
          },
          "transform-runtime": {}
        }
      ]
    ]
  }